name: Build Operator Binary

on:
  workflow_call:

jobs:
  build-operator-binary:
    name: Build Operator Binary
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        platform:
          - os: linux
            arch: amd64
          - os: linux
            arch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'
          cache-dependency-path: './go.mod'
      - name: Build binary
        run: |
          mkdir -p bin
          CGO_ENABLED=0 GOOS=${{ matrix.platform.os }} GOARCH=${{ matrix.platform.arch }} go build -mod=readonly -o bin/manager cmd/main.go
        env:
          GOOS: ${{ matrix.platform.os }}
          GOARCH: ${{ matrix.platform.arch }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: operator-${{ matrix.platform.os }}-${{ matrix.platform.arch }}
          path: bin/